<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
<title>AnimationList</title>
</head>
<body>
<h1>Animation List - 애니메이션 목록</h1>
<div id="loading_id" class="loading">loading... 로딩중...</div>
<div id="error_id" class="error">fetching 과정에서 오류 발생.</div>
<table id="animationList_id" class="list_table"></table>


<!-- animationAPI -->
<script th:src="@{/js/animationAPI.js}"></script>
</body>
</html>