<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<title>Insert title here</title>
</head>
<body>
<h1>Comedy List - 코메디 목록</h1>
<div class="homeBtn">
  <a th:href="@{/}">홈으로 이동</a>
</div>
<div id="loading_id" class="loading">loading... 로딩중...</div>
<div id="error_id" class="error">fetching 과정에서 오류 발생.</div>
<table id="comedyList_id" class="list_table"></table>

<!-- comedyAPI -->
<script th:src="@{/js/comedyAPI.js}"></script>
</body>
</html>